<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RatchetSMTPServer" value="192.168.201.117" />
  </appSettings>
  <activerecord isWeb="true" isDebug="false">
    <config>
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
      <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string" value="Data Source=localhost;Initial Catalog=stattrackr;Integrated Security=SSPI;" />
    </config>
  </activerecord>
 

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

   

   


  </system.web>

  <system.webServer>
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
     <!--<modules runAllManagedModulesForAllRequests="true"/>-->
  </system.webServer>
  <system.serviceModel>

    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <webHttp defaultBodyStyle="WrappedRequest" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="StatTrackr.WCF.StatTrackrService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" contract="StatTrackr.WCF.Interfaces.IStatTrackrDomain">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="StatTrackr.WCF.StatTrackrServiceJSON" behaviorConfiguration="ServiceBehavior">
        <endpoint contract="StatTrackr.WCF.Interfaces.IStatTrackrDomain" binding="webHttpBinding" behaviorConfiguration="AjaxBehavior" />
      </service>
    </services>
   
  </system.serviceModel>

</configuration>
