@model List<StatTrackr.Framework.Domain.League>
<div class="row clearfix">
<div class="widget clearfix">
    <h2>
        Leagues</h2>
    <div class="widget_action">
        <a class="large blue button" href="/league/create">
            <span>Create New League</span>
        </a>    
    </div>
    <div class="widget_inside">
       <div class="col_12">
            <table class="zebra">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th class="align-left">
                           League Name
                        </th>
                        <th class="align-left">
                           Current Season
                        </th>
                        <th class="align-left">
                            Divison
                        </th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td>@Html.ActionLink(item.Name, "edit", new { id = item.LeagueID })</td>
                            <td>need to implement</td>
                            @if (item.Division != null)
                            {
                            <td>@Html.ActionLink(item.Division.Name, "edit", "division", new { id = item.Division.DivisionID }, null)</td>
                            }
                            else
                            {
                                <td>none</td>
                            }
                                
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
