@model IList<StatTrackr.Framework.Domain.Team>
<div class="row clearfix">
<div class="widget clearfix">
    <h2>
        Teams</h2>
    <div class="widget_action">
        <a class="large blue button" href="/team/create">
            <span>Create New Team</span>
        </a>    
    </div>
    <div class="widget_inside">
    
    
       <div class="col_12">

            <table class="zebra">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th class="align-left">
                           Team Name
                        </th>
                        <th class="align-left">
                            Current Record
                        </th>
                        <th class="align-left">
                            League
                        </th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td>@Html.ActionLink(item.TeamName, "edit", new {id = item.TeamID})</td>
                            <td>21-0</td>
                            @if (item.League != null)
                            {
                            <td>@Html.ActionLink(item.League.Name, "edit", "league", new { id = item.League.LeagueID }, null)</td>
                            }
                            else
                            {
                                <td>none</td>
                            }
                                
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
