@model List<StatTrackr.Framework.Domain.Team>
<div id="teamlist">
  <table class="roster">
        <tr class="head">
            <td>Team Name</td>
            <td>Wins</td>
            <td>Loses</td>
            <td>Win %</td>
        </tr>
        @foreach (var team in Model)
        {
       <tr>
        <td><span class="cteam" rel="/Team/QuickView/@team.TeamID">@team.TeamName</span></td>
        <td>4</td>
        <td>1</td>
        <td>.750</td>
        </tr>   
        }
    </table>
</div>
<div id="teamdetail">

</div>
<script type="text/javascript">
    $(".cteam").live("click", function () {
        
        $("#teamdetail").load($(this).attr("rel"));
    });
</script>
