<div class="row clearfix">
    <div class="col_12">
        <div class="widget clearfix">
            <h2>The People at Stat Tracker</h2>
            <div class="widget_inside">
                <div class="col_4">
                    <h3>Matt Krebs</h3>
                    <p>Our fearless leader.</p>
                </div>
                <div class="col_4">
                    <h3>Robb Akerson</h3>
                    <p>Desing and making things look good.</p>
                </div>
                <div class="col_4 last">
                    <h3>Ryan Drost</h3>
                    <p>The Brains behind the orginization</p>
                </div>
            </div>
        </div>
    </div>
</div>  
