<div class="row clearfix">
    <div class="col_12">
        <div class="widget clearfix">
            <h2>Android</h2>
            <div class="widget_inside">                <p>We are developing an Android Application that will allow you to Track statistics in an awesome user-friendly way.</p>
                <p>Will will include Pictures here and links to app stores.</p>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col_12">
        <div class="widget clearfix">
            <h2>iPhone</h2>
            <div class="widget_inside">                <p>An iPhone/iPad version will be coming as well.</p>
            </div>
        </div>
    </div>
</div>