<div class="row">
    <div class="widget clearfix">
        <h2>Contact Us</h2>
        <div class="widget_inside">
            <div class="col_12">
                <div class="col_4">
                    <h3>Contact Form</h3>
                    <p>Use this form to give us any kind of information you want.  We will only use the email address to contact you.  We will not sell it to anyone.</p>
                </div>
                <div class="col_8 last">
                    <div class="form">
                        <div class="clearfix">
                            <label>Name</label>
                            <div class="input">
                                <input class="large" type="text" />
                            </div>
                        </div>
                        <div class="clearfix">
                            <label>Email</label>
                            <div class="input">
                                <input class="large" type="text" />
                            </div>
                        </div>
                        <div class="clearfix">
                            <label>Message for us</label>
                            <div class="input">
                                <textarea class="xlarge"></textarea>
                             </div>
                        </div>
                        <div class="clearfix grey-highlight">
                            <div class="input no-label">
                                <input type="submit" class="button blue" value="Submit" />
                                <input type="reset" class="button grey" value="Reset" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
