<div class="row clearfix">
    <div class="col_12">
        <div class="widget clearfix">
            <h2>Features</h2>
            <div class="widget_inside">
                <div class="col_4">
                    <h3>Place 1</h3>
                    <p>Put your stats on your website with Flash plugins.</p>
                </div>
                <div class="col_4">
                    <h3>Thing 2</h3>
                    <p>Track your stats easily and export them to PDF/Excel etc.</p>
                </div>
                <div class="col_4 last">
                    <h3>Things 3</h3>
                    <p>When you are a member you get all these features and more.</p>
                </div>
            </div>
        </div>
    </div>
</div>  
