<div class="row clearfix">
    <div class="col_12">
        <div class="widget clearfix">
            <h2>Welcome</h2>
            <div class="widget_inside">
                <div class="col_4">
                    <h3>Things 1</h3>
                    <p>Awesomeness.</p>
                </div>
                <div class="col_4">
                    <h3>Things 2</h3>
                    <p>Sweet!.</p>
                </div>
                <div class="col_4 last">
                    <h3>Things 3</h3>
                    <p>Radical!</p>
                </div>
            </div>
        </div>
    </div>
</div>  
